 
body{
  font-family: 'Lato', sans-serif;
}
ul li{
    position:relative;
}
ul li a {
  padding:0 30px !important;
}

 .nav-link{
  color:#666666;
}
ul li ul{
    position:absolute;
    top:30px; 
    visibility: hidden;
    transition:0.35s;
    list-style: none;
    padding:0;
    margin:0;
    background:#262626;
    height:0px;
}
.dropdown-item { 
  padding: 10px 30px !important;
  border-bottom:1px solid rgba(255,255,255,.05); 
  color:transparent;
  transition: 0.37s;
}
.dropdown-item:hover {
  background-color: #0d6efd;
  color:#fff;
  padding-left:35px !important;
}
  .border-2{
    opacity: 0.4;
  } 
 ul li:hover >.dropdown-menu1{
    top:27px;
    visibility:visible;
    height:140px;
    z-index: 44444;  
} 
 ul li:hover >.dropdown-menu1 li .dropdown-item  {
  color:#fff; 
} 
.slider-aria{
  background:url(../images/bg-1.jpg);
  background-size:cover;
  background-position: center;
  padding: 200px 0;

}
.slider-aria2{
  background:url(../images/bg-2.jpg);
  background-size:cover;
  background-position: center;
  padding: 200px 0;

}
.single-slide h3{
  font-weight: 400;
  font-size: 30px;
}
.single-slide h2{
  font-size: 72px;
  font-weight: 900;

}
.benner p{
  font-size: 18px;
}
.owl-dots{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left:48%;
}
.owl-dots .active{
  background: #768091 !important
}
.owl-dot{
  width: 10px;
  height: 10px;
  border-radius:50%; 
  margin:2px;
   background: #0d6efd !important;
}
.owl-nav{
  position:absolute;
  top:45%; 
  z-index: 4484494;
  font-size: 30px;
  color: #fff;
  width: 100%; 
  display: flex;
  justify-content: space-between;
}
.gs-btn:hover{
  background: #262626 !important;;
}
.owl-prev span, .owl-next span{   
  width: 25px; 
  height: 40px;
  text-align:center;  
  display: block;
  background:rgba(0,0,0,.8)!important;
  padding-bottom: 50px;
} 
.img-wrap{
  position: relative;
}
.overlay{ 
  background:rgba(66,114,215,.9);
  color:#fff;
  position: absolute;
  left:0;
  top:0;
  padding: 0 20px 271px 30px;
 transform:translateY(236px);
 transition: .49s;
}
.overlay:hover{
  transform: translateY(0px);
}
.icon-div i{
  width:50px;
  height:50px;
  background-color: #4272d7;
  border: 1px solid #4272d7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color:#fff;
  transition:.35s;
}
.icon-div:hover i{
  background-color: #fff;
  color:#4272d7;
}
.bg-gray{
  background:#f0f0f0;
}
.sec-heading hr{
  width:40px; 
  height: 2px;
  margin:0 auto;
  opacity: .5 ;
}
.bg-dark{
  background:#222;
}
.fa-play-circle{
  position: absolute;
  font-size: 75px;
  left: 45%;
  top: 45%;
  color: #fff;
  transition:.3s; 
}
.fa-play-circle:hover{
  opacity: .7;
}
.video-contant-heading{
  transition: .3s;
}
.video-contant-heading:hover{
  color:#4272d7;
}
.main-tags{
  font-size: 20px;
  color:#555;
  text-align: center  ;
}
.btn-css{
  background: #4272d7;
  padding: 14px 35px;
  color: #fff;  
}
.btn-css:hover{
  background: #000; 
  color: #fff;  
}
.blog-main-heading h2{
  font-size: 26px;
  line-height: 1.8; 
  color:#333;   
}
.blog-main-heading hr{
 width:50px;
 height: 3px;
 margin: 0;
}
.blog-content h5{
  font-weight: bold;
  font-size:18px;
  margin-bottom:12px;
}
.blog-content p{
  font-size: 15px;
  line-height: 1.6666666667;
  margin-bottom: 18px;
}
.meta a {
  font-size: 13px;
  line-height: 1.6666666667;
  color:#444;
  font-weight: bold;
  text-decoration: none;
  transition:.3s;
}
.meta a:hover{
   color:#4272d7;
}
.blog-slide-wrap .owl-dots{
  display: none;
}
.blog-slide-wrap .owl-nav{
  position: absolute;
  top: -65px;
  left: 265px;
  justify-content: flex-start;
  align-items: center;
}
.blog-slide-wrap .owl-prev span, .blog-slide-wrap .owl-next span {
  width: 25px;
  height: 25px;
  text-align: center;
  display: block; 
  padding: 0;
  font-size: 20px;
  background: transparent!important;
  border-radius: 50%; 
  border:1px solid #444;
  color:#444; 
  padding-bottom:30px; 
}
.blog-slide-wrap .owl-nav button {
  width: 25px;
  height: 25px;
  text-align: center;  
  margin-left:5px;  
}
.blockqute-contant::before{
  content: '“';
  position: absolute;
  top: -24px;
  left: -22px;
  font-size: 64px;
  color: #444;
  opacity: .5;
}
.user-img{
  width: 50px;
  height: 50px;
} 
.brand-slider.owl-carousel .owl-item img {
  display: block;
  width: inherit !important; 
}
.bg-dark-2{
  background:#171a21;
} 
.footer-contant p{
  color:#999;
}
.social-media ul{
  list-style: none;
  padding:0; 
}
.social-media ul li {
  padding:0;
}
.social-media ul li a{
  padding: 0 10px!important; 
  display: block;
  width: 36px;
  height: 36px; 
  border-radius: 50%; 
  transition: all .35s;
  background-color: rgba(66,114,215,.1);
  position: relative;
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}
.social-media ul li a:hover{
  background: #4272d7;
}
.footer-2nd-contant ul {
 padding: 0 ;
 list-style: none;
}
.footer-2nd-contant ul li a {
  font-size: 13px;
  line-height: 2.6153846154;
  color: #ccc; 
  padding: 0 !important;
  text-decoration: none;
}
.footer-2nd-contant ul li a::before {
  content: '';
  width: 5px;
  height:5px;
  background-color: rgba(255,255,255,.2);
  margin-right: 8px;
  display: inline-block;
}
.footer-3rd-contant p{
  color:#999;
  font-size: 13px;
}
#button-addon2{
  background: #4272d7;
  color:#fff;
}
.footer-3rd-contant .input-group input[type=text]{
  background-color: rgba(255,255,255,.1); 
  border:none;
  border-radius: 0;
  color:#ccc;
}
.footer-3rd-contant .input-group input[type=text]:focus{
  outline: none;
  border: none;
  box-shadow:none;
}
.footer-3rd-contant .input-group #button-addon2:focus{
  box-shadow:none;
}
.main-footer{
  border-top:1px solid rgba(255,255,255,.05);
  color:#ccc;
}
.navbar-toggler-icon { 
  background: url(../images/download.svg);
}
.brand-slider .owl-dots{
  display: none;
}