  .dropdown-hover{
    position:relative;
}

.dropdown-menu1{
    position:absolute;
    top:-100px; 
    visibility: hidden;
    transition:.3s;
    list-style: none;
    padding:0;
    margin:0;
    background:red;
}
  .dropdown-hover:hover .dropdown-menu1{
    top:35px;
    visibility:visible;
}
